<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="#">Beauty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="display: flex;justify-content: space-between;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" href="home">Home</a>
        </li>
      </ul>

      <form class="d-flex">
        <a routerLinkActive="active" href="login" class="btn btn-dark" style="margin-right: 5px;" [hidden]="loginStatus">Login</a>
        <button routerLinkActive="active" [hidden]="!loginStatus" class="btn btn-dark" style="margin-right: 5px;" (click)="logout()">Logout</button>
        <a routerLinkActive="active" href="register" class="btn btn-dark" [hidden]="loginStatus">Register</a>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <hr>
  <br>

  <form method="POST" [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <div class="form-group">
      <label for="title">Email</label>
      <input formControlName="email"
      type="text" class="form-control"
       id="email" name="email">
    </div>
    <div class="form-group">
        <label for="title">Password</label>
        <input type="password" name="password" class="form-control" aria-describedby="emailHelp" formControlName="password">

      </div>
      <br>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <div>
        {{loginFormGroup.value | json}}
    </div>

</div>
