
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/pexels-artem-beliaikin-1078973.jpg');">
  <h2 class="ltext-105 cl0 txt-center">
    Register
  </h2>
</section>
  <div class="container" style="display:flex;flex-direction: column; align-items: center;">
    <br>
    <div *ngIf="errorMessage" class="alert alert-success" role="alert">
      {{errorMessage}}!
     </div>
    <form [formGroup]="RegisterationForm" class="m-3" enctype="multipart/form-data" (ngSubmit)="registerUser()"
      style="width:700px" class="loginForm">


        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" name="name"
            [class.is-invalid]="name?.invalid" [class.is-valid]="name?.valid">
          <div class="alert alert-warning" [hidden]="name?.valid || name?.untouched">
            <small *ngIf="name?.errors?.['required']">
              Full Name is required
            </small>

          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control"  id="email" name="email" required>
          <div class="alert alert-warning" [hidden]="email?.valid || email?.untouched">
            <small *ngIf="email?.errors?.['required']">
              Email is required
            </small>
            <small *ngIf="email?.errors?.['existEmail']">
              Entered Email is used before, <b>{{email?.errors?.['existEmail'].value}}</b> can't be used
            </small>
          </div>
        </div>


      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" formControlName="phone" class="form-control" id="phone" name="phone">
        <div class="alert alert-warning" [hidden]="phone?.untouched || phone?.valid">
          <small *ngIf="phone?.errors?.['required']">
            Phone Number is required.
          </small>
        </div>
      </div>

      <!-- <div class="mb-3">
        <label for="file">Profile Image</label>
        <input
            formControlName="file"
            id="file"
            type="file"
            class="form-control"
            accept="image/x-png,image/jpg,image/jpeg"
            (change)="onFileChange($event)">
            <div class="alert alert-warning" [hidden]="file?.valid || file?.untouched">
              <small *ngIf="file?.errors?.['required']">
                Profile Image is required
              </small>
            </div>
    </div> -->

      <!--  -->

      <div class="form-row">
        <div class="col">
          <label for="cat" class="form-label">Governate</label>
          <select class="form-control" formControlName="governate" name="governate" id="governate" [(ngModel)]="governateID" (change)="onChange($event)">
              <option *ngFor="let governate of governates" [value]="governate.id">
                  {{governate.name}}
              </option>
          </select>
      </div>

      <div class="col">
        <label for="cat" class="form-label">City</label>
        <select class="form-control" formControlName="city" name="city" id="city">
            <option *ngFor="let city of cities" [value]="city.id">
                {{city.name}}
            </option>
        </select>
        <div class="alert alert-warning" [hidden]="city?.valid || city?.untouched">
          <small *ngIf="city?.errors?.['required']">
            City is required
          </small>
        </div>
      </div>
      </div>

      <!--  -->
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" formControlName="address" class="form-control" id="address" name="address">
        <div class="alert alert-warning" [hidden]="address?.valid || address?.untouched">
          <small *ngIf="address?.errors?.['required']">
            address is required
          </small>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="uPass" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="uPass" name="userPass">
          <div class="alert alert-warning" [hidden]="password?.valid || password?.untouched">
            <small *ngIf="password?.errors?.['required']">
              Password is required
            </small>
            <small *ngIf="password?.errors?.['minlength']">
              Password must be 8 letters at least.
            </small>
          </div>
        </div>

        <div class="col">
          <label for="uCPass" class="form-label">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" id="uCPass" name="usercpass">
          <div class="alert alert-warning" *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">
            Confirm Password is required
          </div>
          <div small class="alert alert-warning" *ngIf="RegisterationForm?.errors?.['UnmatchedPassword']">
            Confirm password must match password.
          </div>
        </div>
      </div>
      <br>

      <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" [disabled]="RegisterationForm.invalid" type="submit">
        Submit
      </button>
    </form>
    <br>
    <!-- <div>
      {{RegisterationForm.value | json}}
    </div> -->
    <br>
    <br>
  </div>

