<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-10 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                    <table class="table-shopping-cart">
                        <tr class="table_head">
                            <th class="column-1">Number</th>
                            <th class="column-1">Products</th>
                            <th class="column-1">Totla price</th>
                            <th class="column-1">Date</th>
                            <th class="column-1">Status</th>
                            <th class="column-1">Details</th>
                        </tr>

                        <tr class="table_row " *ngFor="let order of orders">
                            <td class="column-2 ">{{order.id}}</td>
                            <td class="column-2">{{order.order_items?.length}}</td>
                            <td class="column-2">{{order.total|currency:'EGP'}}</td>
                            <td class="column-2">{{order.created_at}}</td>
                            <td class="column-2" [class.text-success]="order.status=='Done'"
                             [class.text-danger]="order.status=='On way'"
                             [class.text-muted]="order.status=='Processing'">
                             ◉ {{order.status}}</td>
                             <td class="column-2">
                                 <a class="btn btn-primary btn-sm " routerLink="{{order.id}}"> details </a>
                                 <!-- <button type="button" class="btn btn-primary" (click)="getOrderDetails(order.id)">Details</button> -->
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
