<br>
<br>
<div class="container">
  <div class="d-flex justify-content-center row">
      <div class="col-12">
          <div class="rounded">
              <div class="table-responsive table-borderless">
                  <table class="table">
                    <tr class="table_head">
                      <th class="column-1">Order ID</th>
                      <th class="column-2">Created</th>
                      <th class="column-2">Status</th>
                      <th class="column-4">Total</th>
                      <th class="column-3">Notes</th>
                      <th class="column-5">Details</th>
                    </tr>
                      <tbody class="table-body">

                          <tr class="" *ngFor="let order of orders">
                              <td>{{order.id}}</td>
                              <td>{{order.created_at | date}}</td>
                              <td><span class="badge badge-info">{{order.status}}</span></td>
                              <td>{{order.total.toFixed(2)}} EGP</td>
                              <td>{{order.notes | slice:0:80}}...</td>
                              <td>
                                <a routerLink="{{order.id}}"
                                class="flex-c-m stext-103 cl1 size-102 bg2 bor2 hov-btn3 p-lr-15 trans-04"
                                style="font-size: 1rem;font-weight: 600;text-decoration: none;">Details</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

