<carousel style="max-height: 30vh;">
  <slide style="position: relative;">
    <h2 style="position: absolute; left: 20%; top: 30%;">Women Collections 2022</h2>
    <div class="flex-c-m flex-w w-full" style="position: absolute; left: -20%; top: 40%;">
      <a href="#" class="flex-c-m stext-101 cl5 size-103 bg1 bor1 hov-btn1 trans-04">
        Load More
      </a>
    </div>
    <img src="assets/images/slide-01.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide style="position: relative;">
    <h1 style="position: absolute; left: 20%; top: 30%;font-family: 'Dancing Script', cursive;font-size: 5rem;">New Arrivals</h1>
    <h5 style="position: absolute; left: 20%; top: 45%;">This Summer is Exclusive!</h5>
    <img src="assets/images/slide-03.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide style="position: relative;">
    <h1 style="position: absolute; left: 10%; top: 30%;font-family: 'Dancing Script', cursive;font-size: 5rem;">incredible Prices!</h1>
    <img src="assets/images/slide-02.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <div class="flex-c-m flex-w w-full" style="position: absolute; left: -20%; top: 40%;">
      <a href="#" class="flex-c-m stext-101 text-light cl5 size-103 bg3 bor1 hov-btn1 trans-04">
        Load More
      </a>
    </div>
    <img src="assets/images/slide-04.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
 <br>
<div class="container text-center">

  <h2 style="font-size: 3rem ; font-family: 'Dancing Script', cursive;
  text-align: center; margin-top: 2rem; margin-bottom: 4rem;">Our Latest Products</h2>
  <div class="row isotope-grid" style="position: relative;">
    <app-product class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item" *ngFor="let product of products" [product]="product"></app-product>
  </div>

      <!-- Load more -->
      <div class="flex-c-m flex-w w-full p-t-45">
        <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
          Load More
        </a>
      </div>

