<section class="bg-img1 txt-center p-lr-15 p-tb-20 mb-4" style="background-image: url('assets/images/bg-01.jpg');">
  <h2 class="ltext-105 cl0 txt-center" style="font-size: 3rem">
    Profile
  </h2>
</section>
<div class="container">
  <div class="row">
    <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
      <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
        <div class="p-t-18">
          <button routerLink="/user/edit" class="flex-c-m stext-101 cl0 size-103 bg3 bor1 hov-btn3 p-lr-15 trans-04">
            Edit Profile
          </button>
        </div>
        <br>
        <br>
        <div class="cl6 p-b-26">
            <div><h6 class="card-title"  style="font-size:1em ;color: #333;font-weight: 600;"> Name: </h6><p>{{user.name}}</p></div>
            <div><h6 class="card-title"  style="font-size:1em ;color: #333;font-weight: 600;"> Email: </h6><p>{{user.email}}</p></div>
            <div><h6 class="card-title"  style="font-size:1em ;color: #333;font-weight: 600;"> Address: </h6><p>{{user.city.name}}</p><p>{{user.address}}</p></div>
            <div><h6 class="card-title"  style="font-size:1em ;color: #333;font-weight: 600;"> Phone Number: </h6><p>{{user.phone}}</p></div>
        </div>

      </div>
    </div>

    <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
      <div class="how-bor2">
        <div class="hov-img0">
          <img src="{{imagesURL}}/profiles/{{user.avatar}}" onerror="this.src='/assets/images/default-profile.png'" alt="IMG">
        </div>
      </div>
    </div>
  </div>
</div>
