	<!-- Title page -->
  <section class="bg-img1 txt-center p-lr-15 p-tb-20 mb-4"
  style="height:130px;background-image: url('assets/images/bg-01.jpg');background-position: bottom;background-size: cover;">
<h2 class="ltext-105 cl0 txt-center text-light" style="font-size: 3rem">
About Us
</h2>
</section>

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<div class="text active" id="goals">
              <h3>Goals</h3>
              <ul>
                  <li>Provide customers a personalized experience.</li>
                  <li>Go beyond blogging.</li>
                  <li>Partner with influencers.</li>
                  <li>Increase sales.</li>
                  <li>Make business globally</li>
              </ul>
          </div>
          <br>
          <br>
          <div class="text active" id="history">
            <h3>Vision</h3>
            <ul>
              <li>Securing Customer Transactions and Server Stability</li>
              <li>Go beyond blogging.</li>
              <li>Partner with influencers.</li>
              <li>Increase sales.</li>
              <li>Make business globally</li>
          </ul>

        </div>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="assets/images/about-1.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Specifications
						</h3>
            <ul>
              <li>Content management capabilities</li>
              <li>Promotion & discount code tools</li>
              <li>An easy-to-use checkout</li>
              <li>User-friendly navigation</li>
              <li>Make business globally</li>
          </ul>

					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="assets/images/about-2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
