/* Header cart CSS */
header .cart a {
    color: #fff;
    text-decoration: none;
}
header .cart {
    position: relative;
    left: -15px;
}
header .cart a span.number {
    position: relative;
    left: 38px;
    top: -4px;
    color: #ef2d2c;
}
header .cart a span.number {
    position: relative;
    left: 38px;
    top: -4px;
    color: #ffffff;
}
header .cart a {
    color: #fff;
    text-decoration: none;
}
/* End Header cart CSS */