
{{order|json}}
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg" >
    <a href="myorders" class="stext-109 cl8 hov-cl1 trans-04" style="font-size: 1rem;">
      Orders
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>
    <span class="stext-109 cl4" style="font-size: 1rem;">
      Order Details
    </span>
  </div>
</div>
<br>

<div class="container">
  <hr>
<br>
<div class="card" style="border: none;">
  <div class="card-header" style="background: none; font-weight: 600; font-size: 1.2rem; padding: 0 1rem; "class="stext-109 cl8 hov-cl1 trans-04">
    Order ID : {{orderID}}
  </div>
  <div class="card-header" style="background: none; font-weight: 600; font-size: 1rem; padding: 0 1rem"class="stext-109 cl8 hov-cl1 trans-04">
    {{order}} Items
  </div>
    <hr>
    <div class="card-header" style="background: none; font-weight: 600; font-size: 1.2rem; padding: 0 1rem; "class="stext-109 cl8 hov-cl1 trans-04">
     Items In Your Order
    </div>
</div>
   <br>
  <div class="card mb-3" style="width: 70%;" *ngFor="let orderitem of order?.order_items">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="{{images}}/products/{{orderitem.image}}" onerror="this.onerror=null;this.src='/assets/images/default-product.webp'" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="btn btn-dark">on {{orderitem.created_at | date}}</p>
          <div class="-df -d-co -oh -plm">
            <a  style="background: none; font-size: 1.1rem; padding: 0 1rem"class="stext-109 cl8 hov-cl1 trans-04">{{orderitem.name}}</a>
            <p><span style="color: #717fe0; font-weight: 600; padding: 0 1rem">QTY:</span> {{orderitem.quantity}}</p>
            <p style="background: none; font-size: 1rem; padding: 0 1rem"class="stext-109 cl8 hov-cl1 trans-04"><span style="color: #717fe0; font-weight: 600;">Price:</span><span class="-m -ltr -tal"> {{orderitem.price | currency}}</span></p></div>
        </div>
      </div>
    </div>
  </div>

