
<div class="container">
    <div class="row">
        {{order?.id}}
    </div>
    <div class="row">
        <div class="col-lg-10 col-xl-10 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                    <table class="table-shopping-cart">
                        <tr class="table_head">
                            <th class="column-1">Product name</th>
                            <th class="column-1">Quantity</th>
                            <th class="column-1">price</th>
                            <th class="column-1">discount</th>
                            <th class="column-1">Totla price</th>
                        </tr>

                        <tr class="table_row " *ngFor="let item of order?.order_items">
                            <td class="column-2 ">{{item.name}}</td>
                            <td class="column-2">{{item.quantity}}</td>
                            <td class="column-2">{{item.price|currency:'EGP'}}</td>
                            <td class="column-2">{{item.discount}}</td>
                            <td class="column-2">{{item.total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
